<%- include('header') -%>

<h2>This is my about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, beatae aspernatur. Nobis, ex, facere ea voluptatem quisquam odio sunt impedit, inventore maiores voluptatibus magnam fugiat ab aperiam? At, officiis omnis!</p>

<%- include('footer') -%>